<?xml version="1.0"?>
        <!--
        /**
         * Copyright © Magento, Inc. All rights reserved.
         * See COPYING.txt for license details.
         */
        -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customer" translate="label" sortOrder="300">
            <label>Customers</label>
        </tab>
        <section id="customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Configuration</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="address" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Name and Address Options</label>
                <field id="father_name_show" translate="label" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Father Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Customer\Model\Config\Backend\Show\Customer</backend_model>
                </field>
                <field id="mother_name_show" translate="label" type="select" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Mother Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Customer\Model\Config\Backend\Show\Customer</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>